<div class="col-md-12">
	<span class="title-text">Online Recruiter</span>
	<div class="login">
		<div class="Login-screen">
			<div class="input-group">
				<div>
					<input type="text" class="form-control" placeholder="User Name" name='j_username' ng-bind="userName">
				</div>
				<div>
					<input type="password" class="form-control" placeholder="Password" name='j_username' ng-bind="userPassword">
				</div>
				<div style="color:white;">
					<input type="checkbox" ng-model="host">Login as host
				</div>
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default btn-lg" ng-click="navigateToProfile()">Enter</button>
				</div>
			</div>
		</div>
	</div>
	<div class="main-screen-buttons" style="height:100%;">
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default btn-lg">Sign Up</button>
		</div>
		<div class="btn-group" role="group" aria-label="..." style="left: 50%;">
			<button type="button" class="btn btn-default btn-lg" ng-click="enableLoginScreen()">Login</button>
		</div>
	</div>
</div>
